rules_version = '2';

function isAuthenticate() {
    return request.auth != null;
}

function isOwner(userUid) {
  return userUid == request.auth.uid;
}

service cloud.firestore {
  match /databases/{database}/documents {

    match /USERS {
      allow read: if isAuthenticate();
    }

    match /USERS/{userUid} {
      allow read: if isOwner(userUid);
    }

    match /PUBLICATIONS/{document=**} {
      allow read: if true;
    }
  }
}