rules_version = '2';

function hasAuth() {
  return request.auth != null;
}

service firebase.storage {
  match /b/{bucket}/o {

	match /PUBLICATIONS_MEDIA/{allPaths=**} {
      allow read: if true;
      allow write: if hasAuth();
    }

  }
}
