@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #101511;
    --background: #f5f7f5;
    --primary: #7c9981;
    --secondary: #b2bec3;
    --accent: #98a0ae;
  }
  .dark {
    --text: #ebf0ec;
    --background: #090b09;
    --primary: #67836c;
    --secondary: #3d484d;
    --accent: #515967;
  }
}
